<h1> All Professors </h1>

<% @professors.each do |professor| %>
  <section id = "professor-<%=professor.id%>">
    <h2>Name: <%= professor.name %></h2>
    <p>Age: <%= professor.age %></p>
    <p>Specialty: <%= professor.specialty %></p>
  </section>
<% end %>
